@import "vars.scss";

.navMenu {
  margin-right: 40px;
  width: 250px;
  flex: 0 0 auto;

  @include tablet {
    flex: 1 1 auto;
    margin-right: 10px;
    width: auto;
    max-width: 140px;
  }

  @include mobile {
    width: auto;
    max-width: 100vw;
    margin-right: 0;
  }
}

.mainContainer {
  max-width: 750px;
  width: 60vw;

  @include tablet {
    flex: 1 1 auto;
    width: auto;
  }

  @include mobile {
    max-width: 100%;
    margin-top: 20px;
  }
}
